console.loghtml {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FBFBFB;
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
    height: auto;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 100px;
    }
}


.hide {
    display: none !important;
}


h1 {
    font-weight: 600;
    font-size: 76px;
    letter-spacing: -0.01em;
    line-height: 76px;
}

h2 {
    font-weight: 600;
    font-size: 64px;
    letter-spacing: -0.01em;
    line-height: 64px;
    margin-bottom: 24px;
}

h3 {
    font-weight: 600;
    font-size: 32px;
    letter-spacing: -0.01em;
    line-height: 32px;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0em;
}

.accent_text {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -1.5%;
    color: #141414;
}

@media (max-width: 767px) {
    h1 {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 48px;
        line-height: 52px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 28px;
        line-height: 28px;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 40px;
    }

    .accent_text {
        font-size: 18px;
        line-height: 20px;
    }
}
.color_pink {
    color: #D4BFC4;
}

.color_green {
    color: #576F35;
}
.color_purple {
    color: #7A3145;
}


.color_black {
    color: #141414;
    font-weight: 700;
}


/*------ Header---- */

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 1000;
}



.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    padding: 22px 22px;
    margin: 20px 0px;
    
    border-radius: 50px;
    background: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(12px);
    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.1),
        0 8px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
}

.header_container:hover {
    background: rgba(200, 200, 200, 0.3);
    box-shadow:
        0 6px 20px rgba(0, 0, 0, 0.12),
        0 12px 40px rgba(0, 0, 0, 0.18);
}

.logo1 {
    display: flex;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.menu {

}

.logo1_mob {
    display: none;
}

.nav_icon_menu {
    display: none;
}

.nav_icon_menu_mob {
    display: none;
}

.logo1 use {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_list {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.nav_list li {
    display: flex;
    border-radius: 30px;
    border: 1px solid;
    padding: 12px;

    transition: color 0.4s ease, box-shadow 0.4s ease;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);

}

.nav_list li:hover {
    color: #D4BFC4;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.nav_list li:active {
    color: #000000;
}

.btn {
    display: flex;
    background-color: #7A3145;
    padding: 16px 32px;
    border-radius: 30px;
    color: #FBFBFB;
    text-transform: uppercase;

    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.btn:hover {
    color: #7A3145;
    background-color: #D4BFC4;
    box-shadow: 0 0 8px rgba(198, 65, 100, 0.4);

}

.btn:active {
    color: #7A3145;
    background-color: #FBFBFB;
    box-shadow: 0 0 8px rgba(198, 65, 100, 0.4);
}

/* ----section__Organic---- */

.hero_section {
    padding: 100px 0 412px;
    width: 100%;
    background-color: #576f35;
    background-image: url(../img/pic_mobile/img1.jpg);
    background-size: 375px, 372px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero {
    max-width: 335px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media only screen and (max-width: 375px) {
    /* .hero {
        font-size: 43px;
    }

    .text-hero {
        font-size: 11px;
    } */
}

@media only screen and (min-width: 768px) {
    .hero_section {
        background-image: url(../img/pic_tablet/img1.jpg);
        background-size: 768px, 536px;
        background-position: bottom;
        padding-top: 120px;
        padding-bottom: 588px;
    }

    .hero {
        max-width: 704px;
    }

    .text-hero {
        max-width: 603px;
    }
}

@media only screen and (min-width: 1280px) {
    .hero_section {
        background-image: url(../img/pic_desktop/img1.jpg);
        padding: 232px 0 52px;
        background-position: left calc(50% + 320px) bottom 0;
        background-size: 640px, 796px;
        margin: auto;
    }

    .hero {
        max-width: 502px;
        margin-bottom: 128px;
    }

    .text-hero {
        max-width: 472px;
    }
}


.hero,
.text-hero {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.hero_section.show .hero {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.3s;
}

.hero_section.show .text-hero {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s;
}

/* -----section_HowItWorks---- */


.section_HowItWorks {
    background: linear-gradient(to right, #7A3145 50%, #576F35 50%);
    background-size: 100% 100%;
    background-position: center center;
}


/* Исходное состояние: обе половины разъехались и невидимы */
.section_HowItWorks {
    overflow: hidden;
    position: relative;
}

.HowItWorks_Column,
.HowItWorks_Column2 {
    opacity: 0;
    transition: all 1.5s ease;
}

/* Левая колонка выезжает справа налево */
.HowItWorks_Column {
    transform: translateX(-100px);
}

/* Правая колонка выезжает слева направо */
.HowItWorks_Column2 {
    transform: translateX(100px);
}

/* Когда секция появляется на экране */
.section_HowItWorks.show .HowItWorks_Column,
.section_HowItWorks.show .HowItWorks_Column2 {
    opacity: 1;
    transform: translateX(0);
}



.HowItWorks_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.HowItWorks_Column {

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.HowItWorks_picture {
    padding: 100px 0;
}

.HowItWorks_img {
    border-radius: 33px;
}



.HowItWorks_Column2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px 0;
}

.HowItWorks_block {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.HowItWorks_Column2 h3 {
    text-transform: uppercase;
    max-width: 440px;
    margin-bottom: 24px;
}

.HowItWorks_Column2 p {
    margin-bottom: 104px;
    max-width: 440px;
}

.HowItWorks_list {
    
    max-width: 440px;
    display: flex;
    align-items: center;
    gap: 29px;

    background-color: #FBFBFB;
    color: #FBFBFB;
    border-radius: 15px;
    padding: 12px 17px 12px 24px;
}

.HowTiWorks_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 5px solid #D4BFC4;
    background-color: #7A3145;
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
}

.HowTiWorks_text {
    color: #858585;
}




/* ------section_Taste------- */

.section_Taste {

}

.Taste_container {
    display: flex;
    padding: 120px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.Taste_tilte {
    display: flex;
    align-items: center;
    min-height: 104px;
    
    text-transform: uppercase;

    border-radius: 12px;
    background-color: #576F35;
    margin-bottom: 20px;
}

.Taste_tilte2 {
    text-transform: uppercase;
    color: #141414;
}


/* Исходное состояние: заголовки чуть ниже и невидимы */
.Taste_tilte,
.Taste_tilte2 {
    opacity: 0;
    transform: translateY(50px);
    /* смещаем вниз */
    transition: all 1s ease;
}

/* Когда секция появляется */
.section_Taste.show .Taste_tilte,
.section_Taste.show .Taste_tilte2 {
    opacity: 1;
    transform: translateY(0);
}

/* Можно добавить лёгкую задержку для второго заголовка, если нужно */
.section_Taste.show .Taste_tilte2 {
    transition-delay: 0.2s;
    /* необязательно */
}


/* ----section_Vagetables---- */


.section_Vagetables {
    background-color: #7A3145;
}

.Vegetables_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;

    padding: 100px 0px;
}

.Vegetables_tilte {
    text-transform: uppercase;
}


.Vegetables_suptilte {
    max-width: 800px;
    margin-bottom: 52px;
}



.Vegetables_cardsList {
    display: flex; 
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    gap: 28px 24px;
}

.Vegetables_card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    
    background-color: #FBFBFB;
    max-width: 344px;
    padding: 32px;
    border-radius: 40px;
}

.Vegetables_img:hover {
    transform: scale(1.1);
}

.Vegetables_card h3 {
    text-transform: uppercase;
    color: #7A3145;

}

.Vegetables_card p {
    color: #141414;
}

/* Исходное состояние: текст ниже и прозрачный */
.Vegetables_tilte,
.Vegetables_suptilte {
    opacity: 0;
    transform: translateY(50px);
    /* смещаем вниз */
    transition: all 1s ease;
}

/* Когда секция появляется */
.section_Vagetables.show .Vegetables_tilte,
.section_Vagetables.show .Vegetables_suptilte {
    opacity: 1;
    transform: translateY(0);
}

/* Для небольшого эффекта последовательного появления можно добавить задержку для описания */
.section_Vagetables.show .Vegetables_suptilte {
    transition-delay: 0.1s;
}


/* Исходное состояние: карточки ниже и прозрачны */
.Vegetables_card {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1.5s ease;
}

/* Когда секция появляется */
.section_Vagetables.show .Vegetables_card {
    opacity: 1;
    transform: translateY(0);
}

/* Для эффекта stagger добавим задержку по индексу через CSS переменные */
.Vegetables_card:nth-child(1) {
    transition-delay: 0s;
}

.Vegetables_card:nth-child(2) {
    transition-delay: 0.2s;
}

.Vegetables_card:nth-child(3) {
    transition-delay: 0.4s;
}

.Vegetables_card:nth-child(4) {
    transition-delay: 0.6s;
}

.Vegetables_card:nth-child(5) {
    transition-delay: 0.8s;
}

.Vegetables_card:nth-child(6) {
    transition-delay: 1s;
}


/* -----section_Previews---- */

.section-reviews {
    padding: 80px 0;
}

.reviews-container {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .section-reviews {
        padding: 100px 0;
    }
}

.title-reviews {
    font-size: 46px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.015em;
    text-align: left;
    color: #141414;
    text-transform: uppercase;
    max-width: 320px;
    margin-bottom: 20px;
}

.span-reviews {
    color: #576f35;
}

@media screen and (min-width: 375px) {
    .title-reviews {
        font-size: 48px;
    }
}

.reviews-paragraf {
    text-align: left;
    color: #141414;
    max-width: 335px;
    margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
    .title-reviews {
        font-size: 64px;
        font-weight: 600;
        line-height: 64px;
        letter-spacing: -0.015em;
        text-align: left;
        max-width: 553px;
    }

    .reviews-paragraf {
        font-size: 16px;
        max-width: 553px;
        margin-bottom: 52px;
    }
}

@media screen and (min-width: 1280px) {
    .title-reviews {
        max-width: 751px;
    }

    .reviews-paragraf {
        margin-bottom: 52px;
    }
}

/* #region slider*/

.reviews-list-wrapper {
    overflow: hidden;
}

.reviews-list {
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 8px;
    justify-content: start;
}

.reviews-item {
    width: 100%;
    flex: 0 0 auto;
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    border-radius: 24px;
    border: 1px solid rgba(212, 191, 196, 1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: slide-left 30s linear infinite;
}

.slider.paused .reviews-item {
    animation-play-state: paused;
}

.reviews-item:hover .reviews-img,
.reviews-item:focus .reviews-img,
.reviews-item:active .reviews-img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media screen and (min-width: 375px) {
    .reviews-item {
        width: 335px;
    }
}

@keyframes slide-left {

    0%,
    10% {
        transform: translateX(0);
    }

    20%,
    35% {
        transform: translateX(calc(-100% - 8px));
    }

    45%,
    60% {
        transform: translateX(calc(-200% - 16px));
    }

    70%,
    85% {
        transform: translateX(calc(-100% - 8px));
    }

    95%,
    100% {
        transform: translateX(0);
    }
}

/* #endregion*/

@media screen and (min-width: 768px) {
    .reviews-list {
        max-width: 1068px;
        height: 248px;
        overflow: hidden;
        gap: 24px;
    }

    .reviews-item {
        max-width: 340px;
        padding: 20px;
    }

    @keyframes slide-left {

        0%,
        20% {
            transform: translateX(0);
        }

        45%,
        70% {
            transform: translateX(-364px);
        }

        95%,
        100% {
            transform: translateX(0%);
        }
    }
}

@media screen and (min-width: 1280px) {
    .reviews-list {
        max-width: 1080px;
    }

    .reviews-item {
        padding: 20px;
        width: 344px;
        animation: none !important;
    }
}

.reviews-img {
    max-width: 56px;
    height: 56px;
    border-radius: 100%;
    margin-bottom: 24px;
}

.reviewer {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.015em;
    text-align: center;
    color: #141414;
    margin-bottom: 8px;
}

.reviews-text {
    text-align: center;
    color: #858585;
    max-width: 288px;
}

.reviews-text:hover,
.reviews-text:focus,
.reviews-text:active {
    font-weight: 600;
    color: #7a3145;
    transition: transform 0.3s ease;
}

@media screen and (min-width: 768px) {
    .reviews-text {
        font-size: 16px;
    }
}


/* Исходное состояние: текст ниже и прозрачный */
.title-reviews,
.reviews-paragraf,
.reviews-item {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

/* Когда секция появляется */
.section-reviews.show .title-reviews,
.section-reviews.show .reviews-paragraf,
.section-reviews.show .reviews-item {
    opacity: 1;
    transform: translateY(0);
}

/* Для эффекта stagger (чуть задерживаем каждый отзыв) */
.reviews-item:nth-child(1) {
    transition-delay: 0.2s;
}

.reviews-item:nth-child(2) {
    transition-delay: 0.4s;
}

.reviews-item:nth-child(3) {
    transition-delay: 0.6s;
}

/* -----section_Order------ */

.section_Order {
    background-color: #576F35;
}

.Order_container {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Order_tilte {
    max-width: 751px;
    text-transform: uppercase;
}

.Order_suptilte {
    max-width: 751px;
    margin-bottom: 52px;
}

.Order_lists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.Order_list1 {
    max-width: 524px;
    background-color: #FBFBFB;
    padding: 52px 44px;
    border-radius: 30px;
}

.Order_list1 h3 {
    color: #141414;
    text-transform: uppercase;
    max-width: 428px;
    margin-bottom: 52px;
}

.Order-input-name {
    height: 52px;
    border: 1px solid #858585;
    border-radius: 30px;
    width: 428px;
}

.Order-input-email {
    margin: 16px 0;
    height: 52px;
    border: 1px solid #858585;
    border-radius: 30px;
    width: 428px;
    
}

.Order-input-comment {
    height: 96px;
    border: 1px solid #858585;
    border-radius: 15px;
    width: 428px;
}



.Order-input-name::placeholder,
.Order-input-email::placeholder,
.Order-input-comment::placeholder {
    color: #141414;

}
.Order-input-name:hover,
.Order-input-email:hover,
.Order-input-comment:hover {
    border-color: #6a0721;
    box-shadow: 0 0 8px rgba(122, 49, 69, 0.4);
}

.Order-input-name:focus,
.Order-input-email:focus,
.Order-input-comment:focus {
    border-color: #78394a;
    outline: none;/* убираем стандартную синюю рамку браузера */
    box-shadow: 0 0 8px rgba(122, 49, 69, 0.4);

}
.Order-input-name,
.Order-input-email,
.Order-input-comment {
    padding-left: 20px;

    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.Order_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;

    text-transform: uppercase;
    background-color: #7A3145;
    width: 428px;
    height: 52px;
    border-radius: 30px;
    color: #fbfbfb;
    
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.Order_btn:hover {
    color: #7A3145;
    background-color: #D4BFC4;
    box-shadow: 0 0 8px rgba(198, 65, 100, 0.4);
    
}

.Order_btn:active {
    color: #7A3145;
    background-color: #FBFBFB;
    box-shadow: 0 0 8px rgba(198, 65, 100, 0.4);
}


.Order_list2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 524px;
    padding: 52px 48px;

    border-radius: 30px;
    background-color: #7A3145;

}

.Order_list2 img {
border-radius: 16px;
}

.Order_list2 p {
    margin-top: 52px;
    margin-bottom: 16px;
    color: #D4BFC4;
        
}

.Order_list2 a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 8px;
    
}
.Order_list2 a:not(:last-child)::after {
    content: "/";
        margin-left: 16px;
}

/* Исходное состояние текста */
.Order_tilte,
.Order_suptilte {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

/* Исходное состояние колонок */
.Order_list1 {
    opacity: 0;
    transform: translateX(-100px);
    /* слева */
    transition: all 1.5s ease;
}

.Order_list2 {
    opacity: 0;
    transform: translateX(100px);
    /* справа */
    transition: all 1.5s ease;
}

/* Когда секция активна */
.section_Order.show .Order_tilte,
.section_Order.show .Order_suptilte {
    opacity: 1;
    transform: translateY(0);
}

.section_Order.show .Order_list1,
.section_Order.show .Order_list2 {
    opacity: 1;
    transform: translateX(0);
}

/* Добавим небольшую задержку для текста и колонок */

.Order_suptilte {
    transition-delay: 0.2s;
}

.Order_list1 {
    transition-delay: 0.3s;
}

.Order_list2 {
    transition-delay: 0.3s;
} 

/* ----footer---- */

.footer {
    background-color: #7A3145;
    padding: 52px 0;

}

.footer_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}


.logo_suptaitle {
    margin-top: 24px;
    max-width: 265px;
}

.Links_Contacts {
    display: flex;
    flex-direction: row;
    gap: 121px;
}

.links h3 {
    text-transform: uppercase;
    margin-bottom: 24px;

}

.contacts {

}

.address {
    margin-top: 20px;
}

.privacypolicy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 112px;

    color: #D4BFC4;

}

.privacypolicy_text {

}


.privacypolicy_text a {
    text-decoration: none;
    margin-right: 8px;

}

.privacypolicy_text a:not(:last-child)::after {
    content: "/";
    margin-left: 16px;
}




.mobile_menu {
    position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: flex-end;
        align-items: stretch;
        background-color: rgba(20, 20, 20, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.4s ease, visibility 0.4s ease;
        z-index: 1000;
        overflow: hidden;
        
}

.mobile_menu.active {
    opacity: 1;
    visibility: visible;
}

.mobile_menu_container {
background-color: #576F35;
    width: 351px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.4s ease;

    padding-top: 32px;
    padding-bottom: 40px;

}

.mobile_menu.active .mobile_menu_container {
    transform: translateX(0);
}

.btn_menu_close {

}

.mobile_menu_close_icon {
    display: flex;
    margin-left: 253px;


}

.mobile_menu_close_icon_mob {
    display: none;
}

.mob_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-top: 288px;
    gap: 20px;

}

.mob_list_link {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mob_links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 1px solid;
    padding: 15px;
    color: #FBFBFB;


    background: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(12px);
    box-shadow:
        0 4px 15px rgba(0, 0, 0, 0.1),
        0 8px 30px rgba(0, 0, 0, 0.15);
    transition: all 0.5s ease;
    
}

.mob_links:hover {
    color: #D4BFC4;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.mob_links:active {
    color: #000000;
}

.mob_menu_btn_shop {
    display: flex;
    background-color: #7A3145;
    padding: 16px 32px;
    border-radius: 30px;
    color: #FBFBFB;
    text-transform: uppercase;

    transition: background-color 0.4s ease, box-shadow 0.4s ease;

}


.mob_menu_btn_shop:hover {
    color: #7A3145;
    background-color: #D4BFC4;
    box-shadow: 0 0 8px rgba(198, 65, 100, 0.4);

}

.mob_menu_btn_shop:active {
    color: #7A3145;
    background-color: #FBFBFB;
    box-shadow: 0 0 8px rgba(198, 65, 100, 0.4);
}

